.my-custom-menu {
    .ui-panelmenu-header {
      background-color: #f4f5f7;
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
  
    .ui-panelmenu-content {
      background-color: #ffffff;
    }
  
    .ui-menuitem-link {
      font-size: 14px;
      padding: 10px 20px;
    }
  
    .ui-menuitem-icon {
      margin-right: 10px;
    }
  }
  