<form [formGroup]="profileForm">
    <div class="form-group">
        <label>Назва</label>
        <input type="text" formControlName="shortName" class="form-control" />
        <label>Одиниця виміру</label>
        <input type="number" formControlName="measure" class="form-control" />
    </div>
    <div class="flex">
        <div>
            <button class="cancel" (click)="close()">Закрити</button>
        </div>
        <div>
            <button class="submit" (click)="update()">Редагувати</button>
        </div>
    </div>

</form>