<form [formGroup]="profileForm">
    <div class="form-group">
        <label>Назва</label>
        <input type="text" formControlName="shortName" class="form-control" />
        <label>Одиниця виміру</label>
        <p-dropdown 
        [options]="measures" 
        formControlName="measure"
        optionLabel="name" 
        optionValue="value"
        placeholder="Select a City" />    
    </div>
    <div class="flex">
        <div>
            <button class="cancel" (click)="close()">Закрити</button>
        </div>
        <div>
            <button class="submit" (click)="create()">Створити</button>
        </div>
    </div>

</form>