<div>Користувачі</div>
<app-table [service]="service" [toolbarTemplate]="toolbar">



</app-table>

<ng-template #toolbar>
    <app-filter [service]="service" [fields]="['name']"></app-filter>
    <div class="flex">
        <div>
            <button (click)="create()">Створити</button>
        </div>

        <div>
            <button (click)="update()">Редагувати</button>
        </div>

        <div>
            <button (click)="delete()">Видалити</button>
        </div>
    </div>

</ng-template>