<div>
    <div class="flex">
        <div class="mr-2">
            <button>Створити роздачу</button>

        </div>
        <div>
            <button>Розрахувати продукти</button>
        </div>
        <div>
            <button>Перегляд повідомлень</button>
        </div>
    </div>

    <div>
        <div class="card flex justify-content-center">
            <p-fieldset>
                <p class="m-0">
                    Кількість користувачів в організації: 100
                </p>
            </p-fieldset>
        </div>
        <div class="card flex justify-content-center">
            <p-fieldset>
                <p class="m-0">
                    Кількість фондів: 2
                </p>
            </p-fieldset>
        </div>
        <div class="card flex justify-content-center">
            <p-fieldset>
                <p class="m-0">
                    Кількість проведених роздач: 100
                </p>
            </p-fieldset>
        </div>
    </div>


    <p-chart class="small-chart" type="pie" [data]="data" [options]="options" />
</div>