<p-stepper [linear]="true" #stepper>
    <p-stepperPanel header="Оберіть дату прибуткової накладної">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div
                    class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                </div>
                <form [formGroup]="profileForm">
                    <div class="form-group">
                        <label>Дата</label>
                        <p-calendar formControlName="date" />
                        <label>Номер</label>
                        <input type="text" formControlName="number" class="form-control" />
                    </div>
                </form>

            </div>
            <div class="flex pt-4 justify-content-end">
                <p-button label="Далі" icon="pi pi-arrow-right" iconPos="right"  (onClick)="nextCallback.emit()" (onClick)="createInvoice($event)" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Обрати номенклатуру">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
            let-index="index">
            <div class="flex flex-column h-12rem">
                <div
                    class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">

                    <app-table [service]="nomenclatureService" [usecheckbox]="true"
                        (selectedData)="selectProduct($event)"></app-table>
                </div>
            </div>
            <div class="flex pt-4 justify-content-end">
                <p-button label="Додати" icon="pi pi-arrow-right" iconPos="right"  (onClick)="bindProducts()"
                    />
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>

<!-- <ng-template #footer>

    <button>Додати</button>
    <button>Закрити</button>
</ng-template> -->
<!-- <form [formGroup]="profileForm">

    <div class="flex">
        <div>
            <button class="cancel" (click)="close()">Закрити</button>
        </div>
        <div>
            <button class="submit" (click)="create()">Створити</button>
        </div>
    </div>

</form> -->

